@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
   */
/*  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal; 
  */

/* base classes */

.picture-style {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 373.33px;
  width: 100%;
  height: 350px;
  border: 1px solid #d9d9d9;
  border-radius: 32px 32px 0 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-element {
  color: #f85e9f;
}
.button-font {
  font-family: "CircularStd", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}

/* header */

.header-element {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}
.header-container {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;
}
.ul-nav {
  display: flex;
  column-gap: 64px;
  color: #1f1f2380;
}
.li-home {
  color: #222831;
}
.nav-li {
  color: #19182580;
}

.sign-up {
  width: 115px;
  height: 49px;
  border-radius: 100px;
  background-color: #5d50c6;
  color: #eeeeee;
}
.login {
  width: 105px;
  height: 49px;
  border-radius: 100px;
  color: #222831;
}
.header-right {
  display: flex;
  align-items: center;
}
.burger-menu {
  width: 40px;
  height: 40px;
  background-color: #5d50c6;
  border-radius: 10px;
  position: relative;
  display: none;
}
.menu-line {
  width: 60%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.line1 {
  top: 30%;
}
.line3 {
  top: 70%;
}

/* section-1 */

.section-1 {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.section-left {
  width: 412px;
  padding: 64px 0;
}
.section-right {
  width: 772px;
}
.section-right-image {
  width: 100%;
}
.title {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-size: 69px;
  line-height: 120%;
}
.title-br {
  display: none;
}
.section-1-p {
  padding-top: 43px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #191825;
  opacity: 50%;
}
.par-br-res {
  display: none;
}
.btn-block {
  padding-top: 43px;
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.start {
  width: 141px;
  height: 49px;
  border-radius: 100px;
  color: #fff;
  background-color: #5d50c6;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
    0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01);
}
.demo {
  width: 181px;
  height: 56px;
  border: 1px solid #eeeeee;
  border-radius: 100px;
  color: #222831;
}
.icon-play {
  font-size: 24px;
  padding-right: 8px;
}

/* section-2 */

.section-2 {
  margin-top: 197px;
}
.container {
  padding: 64px 0;
  margin: 0 auto;
  max-width: 1184px;
  width: 90%;
  align-items: center;
}
.block-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
}
.title-h3 {
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 6.5px;
}
.title-h2 {
  padding-top: 16px;
  font-size: 44px;
  color: #191825;
}
.left {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #222831;
}
.icon-arrow-left {
  font-size: 17.6px;
}
.right {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #5d50c6;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08),
    0px 7px 16px 0px rgba(0, 0, 0, 0.07), 0px 29px 29px 0px rgba(0, 0, 0, 0.06),
    0px 65px 39px 0px rgba(0, 0, 0, 0.04),
    0px 116px 46px 0px rgba(0, 0, 0, 0.01), 0px 181px 51px 0px rgba(0, 0, 0, 0);
}
.icon-arrow-left {
  font-size: 17.6px;
}
.arrow {
  display: flex;
  column-gap: 32px;
}
.block-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.card {
  height: 575px;
  max-width: 373.33px;
}
.picture-1 {
  background-image: url(../images/dest-1.jpg);
}
.picture-2 {
  background-image: url(../images/dest-2.jpg);
}
.picture-3 {
  background-image: url(../images/dest-3.jpg);
}
.card-content {
  height: 225px;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}
.card-first-block {
  display: flex;
  flex-direction: column;
  padding: 32px;
  display: flex;
  row-gap: 16px;
}
.card-desc {
  display: flex;
  column-gap: 32px;
}
.destination-desc {
  font-size: 23px;
  color: #191825;
}
.price {
  font-size: 23px;
}
.card-dest {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #191825;
  opacity: 75%;
}
.rate {
  font-size: 23px;
  color: #ff5722;
  padding: 0 0 32px 32px;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

/* section-3 */

.section-3 {
  max-width: 1312px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.img-block {
  max-width: 871px;
  width: 100%;
}
.discount-img {
  width: 100%;
}
.offer-block {
  max-width: 441px;
  width: 100%;
  height: 667px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  justify-content: center;
}
.text-block {
  display: flex;
  flex-direction: column;
}
.point-h {
  font-family: "abel", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 6.5px;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.point-p {
  font-family: "abel", sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  color: #191825;
  padding-bottom: 32px;
}
.point-desc {
  font-family: "inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #191825;
  opacity: 50%;
}

/* responsive */

@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
  .burger-menu {
    display: block;
    order: 1;
  }
  .logo {
    order: 2;
  }
  .header-right {
    order: 3;
  }
  .section-1 {
    flex-direction: column-reverse;
    row-gap: 64px;
  }
  .section-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .title {
    font-family: "CircularStd", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
  }
  .title-br {
    display: block;
  }
  .section-1-p {
    max-width: 445px;
    width: 100%;
  }
  .par-br {
    display: none;
  }
  .par-br-res {
    display: block;
  }
  .section-right {
    width: 100%;
    padding-top: 64px;
  }
  .section-2 {
    margin-top: 223.62px;
  }
  .picture-style {
    height: 314px;
  }
  .block-one {
    flex-direction: column;
    row-gap: 64px;
    text-align: center;
    padding-bottom: 67px;
  }
  .block-two {
    column-gap: 31px;
  }
  .card {
    width: 278px;
  }
  .card-content {
    width: 100%;
    height: 261px;
  }
  .card-desc {
    flex-direction: column;
    row-gap: 8px;
  }
  .destination {
    order: 2;
  }
}
@media (max-width: 447px) {
  .logo {
    order: 1;
  }
  .burger-menu {
    order: 2;
  }
  .header-right {
    display: none;
  }
  .title {
    font-size: 40px;
  }
  .title-br,
  .par-br,
  .par-br-res {
    display: none;
  }
  .section-1-p {
    font-size: 16px;
  }
  .btn-block {
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
  }
  .start {
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
      0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
      0px 45px 27px 0px rgba(0, 0, 0, 0.05),
      0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0);
  }
  .demo {
    width: 100%;
    background-color: #fff;
  }
  .block-two {
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
  .left,
  .right {
    width: 64px;
    height: 64px;
  }
  .arrow {
    width: 100%;
    justify-content: space-between;
  }
  .card {
    max-width: 398px;
    width: 100%;
  }
}
